torch==1.1.0
torchvision==0.3.0
segmentation-models-pytorch==0.1.0
tensorflow==1.11.0  # for tensorboard
tensorboard==1.11.0
albumentations==0.4.3
shapely==1.7.0
aeronet==0.0.7
scikit-learn==0.22.2
pandas==1.0.3
ttach==0.0.2
addict==2.2.1
fire==0.2.1
Pillow=6.1.0